<h1>Einladung</h1>

<p>
    Hallo! <br><br>
    Sie haben eine Einladung erhalten der Organisation "{{ organisation }}" auf der Vernehmlassungs-Plattform <a href="https://demokratis.ch">demokratis.ch</a> beizutreten.
    <br><br>
    <a href="{{ url }}">Klicken Sie hier</a> um die Einladung anzunehmen.
</p>

<p>
    Beste Grüsse,<br>
    Ihr demokratis.ch Team
</p>
