{% extends 'base_naked.html.twig' %}

{% block title %}Verein Demokratis - Mitglied werden{% endblock %}

{% block body %}
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-20 pb-16 text-center lg:pt-32">
        <h1 class="mx-auto max-w-4xl font-display text-xl font-medium tracking-tight text-slate-900 sm:text-4xl">
            Geschützter Bereich
        </h1>

        <div class="mt-6 py-10 px-6 bg-gray-50 rounded-3xl sm:py-16 sm:px-12 lg:p-20">
            {% if form %}
                {{ form_start(form) }}
                {{ form_end(form) }}
            {% endif %}
        </div>

    </div>
{% endblock %}
