{% extends 'layout-default.html.twig' %}


{% block title %}Demokratis.ch{% endblock %}

{% block body %}

    <div class="overflow-hidden bg-white py-16 px-6 lg:px-8 xl:py-36">
        <div class="mx-auto max-w-max lg:max-w-7xl">
            <div class="relative z-10 mb-8 md:mb-2 md:px-6">
                <div class="max-w-prose text-base lg:max-w-none">
                    <h2 class="font-semibold leading-6 text-blue-600">Impressum & Datenschutz</h2>
                    <p class="mt-2 text-3xl font-bold leading-8 tracking-tight text-gray-900 sm:text-4xl">Verein Demokratis</p>
                </div>
            </div>
            <div class="relative">
                <svg class="absolute top-0 right-0 -mt-20 -mr-20 hidden md:block md:[overflow-anchor:none]" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
                    <defs>
                        <pattern id="95e8f2de-6d30-4b7e-8159-f791729db21b" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#95e8f2de-6d30-4b7e-8159-f791729db21b)" />
                </svg>
                <svg class="absolute bottom-0 left-0 -mb-20 -ml-20 hidden md:block md:[overflow-anchor:none]" width="404" height="384" fill="none" viewBox="0 0 404 384" aria-hidden="true">
                    <defs>
                        <pattern id="7a00fe67-0343-4a3c-8e81-c145097a3ce0" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                        </pattern>
                    </defs>
                    <rect width="404" height="384" fill="url(#7a00fe67-0343-4a3c-8e81-c145097a3ce0)" />
                </svg>
                <div class="relative md:bg-white md:p-6">
                    <div class="lg:grid lg:grid-cols-5 lg:gap-6">
                        <div class="prose md:col-span-2 prose-lg prose-blue text-gray-500 lg:max-w-none">
                            <h3 class="text-gray-700 text-xl">Kontakt</h3>
                            <p>
                                Demokratis<br>
                                Sonnmattstrasse 4<br>
                                3084 Köniz<br>
                                Schweiz
                            </p>
                            <p>
                                E-Mail: team@demokratis.ch
                            </p>
                        </div>
                        <div class="prose md:col-span-3 prose-lg prose-blue mt-6 text-gray-500 lg:mt-0">
                            <h3 class="text-gray-700 text-xl">Haftungsausschluss</h3>
                            <p>
                                Wir übernehmen keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit, Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen.
                                Haftungsansprüche wegen Schäden materieller oder immaterieller Art, welche aus dem Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen.
                                <br>
                                Alle Angebote sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte Angebot ohne besondere Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung zeitweise oder endgültig einzustellen.
                            </p>

                            <h3 class="text-gray-700 text-xl">Haftungsausschluss für Links</h3>
                            <p>
                                Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird jegliche Verantwortung für solche Webseiten abgelehnt. Der Zugriff und die Nutzung solcher Webseiten erfolgen auf eigene Gefahr des jeweiligen Nutzers.
                            </p>

                            <h3 class="text-gray-700 text-xl">Urheberrechte</h3>
                            <p>
                                Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf dieser Website, gehören ausschliesslich der juristischen Person Demokratis oder den speziell genannten Rechteinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung des Urheberrechtsträgers im Voraus einzuholen.
                            </p>

                            <p>
                                Quelle: <a class="text-gray-400 note-prose no-underline" href="https://www.swissanwalt.ch" target="_blank" rel="noopener">SwissAnwalt</a>
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
