<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Demokratis.ch{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    {# Font Awesome #}
    <script src="https://kit.fontawesome.com/{{ fontawesome_key }}.js" crossorigin="anonymous"></script>

    {# Plausible #}
    {%- if app.environment == 'dev' %}
        <!-- Plausible deactivated for dev environments -->
    {% else %}
        <script defer data-domain="demokratis.ch" src="https://plausible.io/js/script.js"></script>
    {% endif -%}

</head>
<body>

    {% block body %}
    {% endblock %}

    <!-- Footer -->
    <footer class="sm:mt-6 md:mt-18 lg:mt-24 xl:mt-32">
        <div class="max-w-7xl mx-auto py-4 sm:py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
            <p class="sm:mt-8 text-center text-sm sm:text-base text-gray-400">Umgesetzt mit Unterstützung des Prototype Fund Schweiz</p>
        </div>
    </footer>
</body>
</html>
