<h1>Login Link</h1>

<p>
    Hallo! <br><br>
    Sie haben einen Login-Link für die Vernehmlassungs-Plattform <a href="https://demokratis.ch">demokratis.ch</a> erhalten.
    <br><br>
    <a href="{{ url }}">Klicken Sie hier</a> um sich anzumelden - Sie benötigen dafür kein Passwort. Der Link ist bis zum {{ expiration_date|date("d. m. H:i") }} gültig.
</p>

<p>
    Beste Grüsse,<br>
    Ihr demokratis.ch Team
</p>
