
{% if freeTexts|length > 0 %}
    <div class="grid grid-cols-4 gap-2 lg:gap-4">
        {% for freetext in freeTexts %}
            {% if not collapse %}
                <div class="col-start-1 col-span-4 lg:col-span-1 flex flex-row lg:flex-col items-end">
                    {% if app.user and is_granted('edit', statement) %}
                        <a href="{{ path('app_freetext_edit', { 'uuid': freetext.uuid }) }}" class="opacity-60 hover:opacity-100 inline-block m-1 nowrap p-1.5 bg-gray-50 hover:bg-gray-100 border border-solid border-gray-300 text-gray-400 text-xs rounded-md">
                            Bearbeiten <i class="fas fa-edit ml-2"></i>
                        </a>
                    {% endif %}
                    {% if app.user and is_granted('own', statement) %}
                        <a href="{{ path('app_freetext_delete', { 'uuid': freetext.uuid }) }}" class="opacity-60 hover:opacity-100 inline-block m-1 nowrap p-1.5 bg-gray-50 hover:bg-gray-100 border border-solid border-gray-300 text-gray-400 text-xs rounded-md">
                            Entfernen <i class="fas fa-trash ml-2"></i>
                        </a>
                    {% endif %}
                </div>
            {% endif %}

            <div class="scroll-mt-20 col-span-4 {% if collapse %}lg:col-span-4{% else %}lg:col-span-3 lg:col-start-2{% endif %}">
                <div class="opacity-75 p-2 h-full bg-white border shadow-sm text-sm lg:text-md text-gray-600 rounded-mdf">
                    {{ freetext.text }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endif %}
