{% extends 'layout-default.html.twig' %}

{% block title %}Verein Demokratis - Mitglied werden{% endblock %}

{% block body %}

<main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="pt-16">

        {# Breadcrumbs #}
        <nav class="flex py-4" aria-label="Breadcrumb">
            <ol role="list" class="flex items-center space-x-4">
                <li>
                    <div>
                        <a href="{{ path('app_index') }}" class="text-gray-400 hover:text-gray-500">
                            <i class="fa-solid fa-house"></i>
                            <span class="sr-only">Home</span>
                        </a>
                    </div>
                </li>

                <li>
                    <div class="flex items-center">
                        <i class="fas fa-chevron-right text-xs text-gray-400"></i>
                        <a href="{{ path('app_membership_join') }}" class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700">Mitglied werden</a>
                    </div>
                </li>
            </ol>
        </nav>

        <h1 class="text-2xl sm:text-3xl md:text-4xl xl:text-6xl font-bold tracking-tight text-gray-700">Herzlich willkommen! <span>🎉</span></h1>

        <div class="max-w-2xl pt-6 sm:pt-12 md:pt-18">
            <p class="text-md leading-8 text-gray-600">
                Wir freuen uns, Dich als neues Mitglied begrüssen zu dürfen. Mit Deiner Mitgliedschaft unterstützt Du unsere Arbeit und stärkst die Schweizer Demokratie.
            </p>
            <p class="mt-6 text-md leading-8 text-gray-600">
                Die Mitgliederversammlung findet jeweils jährlich am zweiten Wochenende im Januar statt. Dazu werden wir Dich noch frühzeitig informieren.
            </p>
            <p class="mt-6 text-md leading-8 text-gray-600">
                Unser Verein betreibt die Webplattform demokratis.ch. Sie ermöglicht einen barrierefreien und digitalen Zugang zu Vernehmlassungen für alle. Schau Dir die Plattform an — wir freuen uns auf Dein Feedback!
            </p>
            <p class="mt-6 text-md leading-8 text-gray-600">
                Bei Fragen oder Anregungen sind wir per E-Mail für Dich da: <a href="mailto:team@demokratis.ch" class="text-blue-600 hover:text-blue-500">team@demokratis.ch</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}
