<div class="p-3 text-gray-600 bg-gray-50 rounded-md">
    Im Kanton Aargau entsprechen Anhörungen den Vernehmlassungsverfahren in anderen Kantonen. Zum Einsatz kommt die eigens entwickelte Software <a href="#" class="underline hover:no-underline">eAnhörung</a>.
</div>
